<div class="ttt-board">
  <% @game.board.each do |square| %>
    <% if square == 'X' %>
      <div class="ttt-square">X</div>
    <% elsif square == 'O' %>
      <div class="ttt-square">O</div>
      <% else %>
        <%= form_for(@game) do |f| %>
          <%= f.hidden_field :service, value: square %>
          <%= f.submit %>
        <% end %>
    <% end %>
  <% end %>
</div>