<div class="ttt-board">
  <% @game.board.each do |square| %>
    <% if square == 'x' %>
      <div class="ttt-square"><span class="board-marker">x</span class="board-marker"></div>
    <% elsif square == 'o' %>
      <div class="ttt-square"><span class="board-marker">o</span class="board-marker"></div>
    <% else %>
      <%= form_for(@game) do |f| %>
        <%= f.hidden_field :service, value: square %>
        <%= f.submit square, class: "ttt-square active" %>
      <% end %>
    <% end %>
  <% end %>
</div>