<h3>Choose a difficulty level to get playing.</h3>

<%= form_for(@game) do |f| %>
  <%= f.submit "EASY", class: "board-initialize" %>
<% end %>

<%= form_for(@game) do |f| %>
  <%= f.submit "HARD", class: "board-initialize" %>
<% end %>