<h2>Leaderboard</h2>
<% @lead_players.each do |player| %>
  <div class="profile">
    <div class="profile-image">
        <%= image_tag(player.gravatar_url)%>
    </div>
    <div class="profile-stats">
      <h2><%= player.username.capitalize %></h2>
      <h3><%= player.games_played %> GAMES PLAYED | <%= player.games_won %> GAMES WON</h3> 
    </div>
  </div>
<% end %>