<h2>Leaderboard</h2>

<table>
  <% @lead_players.each do |player| %>
  <tr>
    <td><strong><%= player.games_won %></strong></td>
    <td><%= link_to(player.username, players_path(player)) %></td>
  </tr>
  <% end %>
</table)