* {
  box-sizing: border-box;
}
p {
  color: black;
}
.main-container {
  width: 640px;
  margin: 0 auto;
}
.ttt-board {
  margin: 0 auto;
  width: 630px;
  height: 630px;
  background: black;
  z-index: 0;
}
.ttt-square {
  padding: 100px;
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 0;
  background: white;
  z-index: 10;
}